.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;

  background-color: #264b2c;
  color: #ffffff;
  padding: 20px 40px;

  display: flex;
  align-items: center;
  gap: 20px;

  box-sizing: border-box;

  box-shadow: 0 2px 5px rgb(0 0 0 / 0.5);
}

/* Чайная карта выдавлена влево */
.linkTeaMap {
  margin-right: auto;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.linkTeaMap.active,
.link.active {
  background-color: #1f3e25;
}

.linkTeaMap:hover,
.link:hover {
  background-color: #1f3e25;
}

/* Общий стиль ссылок справа */
.link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

/* Кнопка Выйти */
.logoutBtn {
  background: none;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutBtn:hover {
  background-color: #1f3e25;
}