.authBackground {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../../../public/images/Логин2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center; /* по центру по горизонтали */
  align-items: center;     /* по центру по вертикали */
}